<a href="https://colab.research.google.com/github/ahmedsiam0/fraud-detection/blob/main/fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("./content/fraudTrain.csv")

# **Take a Look**

In [3]:
df.head(10)

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud
0,0,1/1/2019 0:00,2.700000e+15,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,0b242abb623afc578575680df30655b9,0.0
1,1,1/1/2019 0:00,6.300000e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,1f76529f8574734946361c461b024d99,0.0
2,2,1/1/2019 0:00,3.890000e+13,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,a1a22d70485983eac12b5b88dad1cf95,0.0
3,3,1/1/2019 0:01,3.530000e+15,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,6b849c168bdad6f867558c3793159a81,0.0
4,4,1/1/2019 0:03,3.760000e+14,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,a41d7549acf90789359a9aa5346dcb46,0.0
5,5,1/1/2019 0:04,4.770000e+15,"fraud_Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,189a841a0a8ba03058526bcfe566aab5,0.0
6,6,1/1/2019 0:04,3.010000e+13,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,83ec1cc84142af6e2acf10c44949e720,0.0
7,7,1/1/2019 0:05,6.010000e+15,fraud_Corwin-Collins,gas_transport,71.65,Steven,Williams,6d294ed2cc447d2c71c7171a3d54967c,0.0
8,8,1/1/2019 0:05,4.920000e+15,fraud_Herzog Ltd,misc_pos,4.27,Heather,Chase,fc28024ce480f8ef21a32d64c93a29f5,0.0
9,9,1/1/2019 0:06,2.720000e+15,"fraud_Schoen, Kuphal and Nitzsche",grocery_pos,198.39,Melissa,Aguilar,3b9014ea8fb80bd65de0b1463b00b00e,0.0

In [4]:
df[df["is_fraud"] == 1]

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud
2449,2449,1/2/2019 1:06,4.610000e+12,fraud_Rutherford-Mertz,grocery_pos,281.06,Jason,Murphy,e8a81877ae9a0a7f883e15cb39dc4022,1.0
2472,2472,1/2/2019 1:47,3.400000e+14,"fraud_Jenkins, Hauck and Friesen",gas_transport,11.52,Misty,Hart,bc7d41c41103877b03232f03f1f8d3f5,1.0
2523,2523,1/2/2019 3:05,3.400000e+14,fraud_Goodwin-Nitzsche,grocery_pos,276.31,Misty,Hart,b98f12f4168391b2203238813df5aa8c,1.0
2546,2546,1/2/2019 3:38,4.610000e+12,fraud_Erdman-Kertzmann,gas_transport,7.03,Jason,Murphy,397894a5c4c02e3c61c784001f0f14e4,1.0
2553,2553,1/2/2019 3:55,3.400000e+14,fraud_Koepp-Parker,grocery_pos,275.73,Misty,Hart,7863235a750d73a244c07f1fb7f0185a,1.0
...,...,...,...,...,...,...,...,...,...,...
1000885,1000885,2/15/2020 1:11,3.020000e+13,"fraud_Schumm, Bauch and Ondricka",grocery_pos,267.75,James,Baldwin,c40834346b22cab40b88999b6f7600db,1.0
1000937,1000937,2/15/2020 1:54,3.020000e+13,fraud_Stracke-Lemke,grocery_pos,283.60,James,Baldwin,351543183b955128d8209b0d0e9f1cc3,1.0
1000983,1000983,2/15/2020 2:30,3.020000e+13,fraud_Durgan-Auer,misc_net,750.98,James,Baldwin,e21fba3f053af7ea0bd31dfed1ddf2e4,1.0
1000984,1000984,2/15/2020 2:32,2.130000e+14,fraud_Bartoletti-Wunsch,gas_transport,19.06,Joanne,Padilla,3aee71b58b68fbc5341fb7daad0e83a7,1.0
1001312,1001312,2/15/2020 7:29,3.020000e+13,fraud_Heidenreich PLC,grocery_pos,305.45,James,Baldwin,f0b0e0b74965ca10009deb96ed8a4144,1.0

In [5]:
df.describe()

                 ID   Card Number        Amount      is_fraud
count  1.002104e+06  1.002104e+06  1.002103e+06  1.002103e+06
mean   5.010515e+05  4.171374e+17  7.025616e+01  5.701011e-03
std    2.892827e+05  1.308840e+18  1.602039e+02  7.528954e-02
min    0.000000e+00  6.041621e+10  1.000000e+00  0.000000e+00
25%    2.505258e+05  1.800000e+14  9.640000e+00  0.000000e+00
50%    5.010515e+05  3.520000e+15  4.742000e+01  0.000000e+00
75%    7.515772e+05  4.640000e+15  8.304000e+01  0.000000e+00
max    1.002103e+06  4.990000e+18  2.894890e+04  1.000000e+00

# **Data Preprocessing**

## **Handling missing values**

In [6]:
print (df.isnull().sum())

ID             0
Time           0
Card Number    0
merchant       0
category       0
Amount         1
firstName      1
lastName       1
trans_num      1
is_fraud       1
dtype: int64

In [3]:
#find null in Amount col and replace it with mean
df['Amount'].fillna(df['Amount'].mean(), inplace=True)

C:\Users\AhmedSiam\AppData\Local\Temp\ipykernel_7036\1142244022.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['is_fraud'].fillna(df['is_fraud'].mean(), inplace=True)
C:\Users\AhmedSiam\AppData\Local\Temp\ipykernel_7036\1142244022.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Amount'].fillna(df['Amount'].mean(), inplace=True)

In [3]:
#drop row if first name /last name/trans_num is null 'Not important'

df = df.dropna(subset=['firstName', 'lastName', 'trans_num', 'is_fraud'])

In [9]:
print (df.isnull().sum())

ID             0
Time           0
Card Number    0
merchant       0
category       0
Amount         0
firstName      0
lastName       0
trans_num      0
is_fraud       0
dtype: int64

## **Handling Duplicates**

In [10]:
sum(df.duplicated()) #no duplicate to handle it

0

## **Handling Wrong Format**

In [11]:
type(df['Time'].iloc[0])

str

In [12]:
df['Time']=pd.to_datetime(df['Time'])

In [13]:
type(df['Time'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
print(df['Time'])

0         2019-01-01 00:00:00
1         2019-01-01 00:00:00
2         2019-01-01 00:00:00
3         2019-01-01 00:01:00
4         2019-01-01 00:03:00
                  ...
1002098   2020-02-15 16:40:00
1002099   2020-02-15 16:40:00
1002100   2020-02-15 16:40:00
1002101   2020-02-15 16:42:00
1002102   2020-02-15 16:42:00
Name: Time, Length: 1002103, dtype: datetime64[ns]